<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Site.master.vb" Inherits="CodeOne.SiteMaster" %>

<%@ Import Namespace="CodeOne" %>
<%@ Import Namespace="Microsoft.AspNet.Identity" %>
<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - FinanceLogically</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="/Styles/site_css/main.css" rel="stylesheet" />
    <link href="/Styles/config/css/content-homepage-buttons-sitebrand.css" rel="stylesheet" />
    <link href="/Styles/config/css/wrapper-homepage-sitebrand.css" rel="stylesheet" />
    <link href="/Styles/config/css/jquery.megamenu-sitebrand.css" rel="stylesheet" />
    <link href="/Styles/config/css/content-homepage-sitebrand.css" rel="stylesheet" />

    <!-- favicon -->
    <link href="~/favicon.ico?v=2" rel="shortcut icon" type="image/x-icon" />


    <!-- start of FNBO stuff -->

    <meta content="" http-equiv="keywords" />
    <meta content="" name="description" />
    <meta content="all" name="robots" />


    <meta http-equiv="imagetoolbar" content="no">
    <!-- suppress IE image toolbar -->

    <link media="screen, print" type="text/css" rel="stylesheet" href="/Styles/MarketingWeb/internet_tip/shared-content-library/config/css/reset.css" />
    <link media="screen, print" type="text/css" rel="stylesheet" href="/Styles/MarketingWeb/internet_tip/shared-content-library/config/css/wrapper-homepage.css" />
    <link media="screen, print" type="text/css" rel="stylesheet" href="/Styles/MarketingWeb/internet_tip/shared-content-library/config/css/content-homepage.css" />
    <link media="screen, print" type="text/css" rel="stylesheet" href="/Styles/MarketingWeb/internet_tip/shared-content-library/config/css/jquery.megamenu.css" />
    <link media="screen, print" type="text/css" rel="stylesheet" href="/Styles/MarketingWeb/internet_tip/shared-content-library/config/css/jquery.slideshow.css" />
    <link media="screen, print" type="text/css" rel="stylesheet" href="/Styles/MarketingWeb/internet_tip/shared-content-library/config/css/content-homepage-buttons.css" />
    <!--[if IE 7]>
		    <link href="/Styles/MarketingWeb/internet_tip/shared-content-library/config/css/content-ie7.css" rel="stylesheet" type="text/css" media="screen, print" />
	    <![endif]-->
    <!--[if IE 8]>
		    <link href="/Styles/MarketingWeb/internet_tip/shared-content-library/config/css/wrapper-homepage-ie8.css" rel="stylesheet" type="text/css" media="screen, print" />
	    <![endif]-->
    <!--[if IE 9]>
	    <![endif]-->

    <script src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/jquery/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js" type="text/javascript"></script>
    <script src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/jquery/jquery.megamenu.js" type="text/javascript"></script>
    <script src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/jquery/jquery.top_up.min.js?libs=" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(function () {
            var SelfLocation = window.location.href.split('?');
            jQuery(".megamenu").megamenu();
        });
    </script>

    <script src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/global.onload.js" type="text/javascript"></script>
    <script src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/functions.js" type="text/javascript"></script>

    <!-- awkward-showcase -->
    <link rel="stylesheet" href="/Styles/MarketingWeb/internet_tip/shared-content-library/config/css/jquery.awkward-showcase-homepage.css" />
    <script type="text/javascript" src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/jquery/jquery.aw-showcase.min.js"></script>

    <!--[if LTE IE 8]>
    <script type="text/javascript" src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/jquery/jquery.aw-showcase-init-homepage-ie8.js"></script>
    <![endif]-->

    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/jquery/jquery.aw-showcase-init-homepage.js"></script>
    <!--<![endif]-->



    <!-- Remember Me -->
    <script type="text/javascript" src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/jquery/remember-me/jquery.cookie.js"></script>
    <script type="text/javascript" src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/jquery/remember-me/jquery.remember-me.js"></script>
    <link href="/Styles/MarketingWeb/internet_tip/shared-content-library/config/css/remember-me.css" rel="stylesheet" type="text/css" media="screen" />

    <script type="text/javascript" src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/jquery/return-to-accounts.js"></script>

    <!-- local css -->
    <link media="screen, print" type="text/css" rel="stylesheet" href="/Styles/config/css/wrapper-homepage-sitebrand.css" />
    <link media="screen, print" type="text/css" rel="stylesheet" href="/Styles/config/css/content-homepage-sitebrand.css" />
    <link media="screen, print" type="text/css" rel="stylesheet" href="/Styles/config/css/jquery.megamenu-sitebrand.css" />
    <link media="screen, print" type="text/css" rel="stylesheet" href="/Styles/config/css/content-homepage-buttons-sitebrand.css" />
    <!-- local css -->

    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>


</head>
<body id="bodyid" class="bodyclass">
    <%--<form runat="server">--%>
    <div class="audience-switcher">
        <ul>
            <li><a href="/Default.aspx" class="here">Personal</a></li>
            <li><a href="https://www.firstnational.com/site/small-business/index.fhtml">Small Business</a></li>
            <li><a href="https://www.firstnational.com/site/corporate/index.fhtml">Corporate</a></li>

            <!-- About Us navigation element was hidden in DCR -->
            <!-- Help navigation element was hidden in DCR -->
            <!-- Information Security Center navigation element was hidden in DCR -->
        </ul>
    </div>
    <!--  END audience-switcher -->

    <div id="section1" class="row-fluid">
        <div id="masthead">
            <a href="/" class="logo">
                <img title="" alt="First National Bank" src="/Styles/config/img/logo.png" /></a>
            <div class="utility">
                <ul>
                    <li class="first"><a href="https://www.firstnational.com/site/help/" title="">Help</a></li>
                    <li><a href="https://www.firstnational.com/site/about-us/" title="">About Us</a></li>
                    <li><a href="https://firstnational.locatorsearch.com/" title="" class="popup" popup-title="ATM/Branch Locator" popup-preset="atmlocator">ATM/Branch Locator</a></li>
                    <li><a href="https://www.firstnational.com/RetailWeb/default/contactus/SHOW_FORM/form" title="">Contact Us</a></li>
                    <li class="last"><a href="https://www.firstnational.com/site/security-center/" title="">Information Security Center</a></li>
                </ul>
                <div class="search">
                    <form action="/util/searchresults.fhtml" method="get" name="search">
                        <input type="text" id="searchbox" value="" maxlength="256" size="15" name="q" />
                        <input name="btnG" id="searchbtn" type="image" value="search" src="/Styles/config/img/btn-search.png" alt="Search" />
                    </form>
                </div>
                <!-- search -->

            </div>
            <!-- end utility -->

        </div>
        <!-- masthead -->
    </div>
    <!-- section1 -->

    <!-- personal menu -->
    <div class="nav" style="position: relative; margin: 0 auto; width: 960px; z-index: 2000;">
        <!-- 2012.10.15
  <div class="category" style="position:absolute; right:0; z-index:2000; top:-46px;">
-->
        <div class="category ">
            <ul class="megamenu category layout" style="display: block;">


                <li class="category Banking mm-item" style="float: left;">
                    <a href="https://www.firstnational.com/site/small-business/banking/" class="mm-item-link">Banking</a>
                    <div class="submenu mm-item-content" style="display: none; top: 26px; left: 1px; height: auto;">
                        <div class="background2">
                            <img src="/Styles/config/img/branded/mm-triangle.png" alt="" title="" class="triangle" />
                            <!-- drop-down indicator -->
                            <table border="0" cellpadding="0" cellspacing="0" class="layout">
                                <tr>
                                    <td class="col1" style="width: 200px; padding: 0 10px 0 0;">
                                        <h3><a href="/site/personal/banking/checking-accounts/">First National Checking</a></h3>
                                        <ul class="nav">

                                            <li><a href="/site/personal/banking/checking-accounts/first-at-work-checking.fhtml">First At Work</a></li>

                                        </ul>
                                        <h3><a href="/site/personal/banking/savings-accounts/">Savings Accounts</a></h3>
                                        <ul class="nav">
                                            <li><a href="/site/personal/banking/savings-accounts/savings-accounts.fhtml">Savings</a></li>
                                            <li><a href="/site/personal/banking/savings-accounts/money-market.fhtml">Money Market</a></li>

                                            <li><a href="/site/personal/banking/savings-accounts/minor-savings-accounts.fhtml">Minor Savings</a></li>
                                            <li><a href="/site/personal/banking/savings-accounts/health-savings-account.fhtml">First&nbsp;National&nbsp;Health&nbsp;Savings</a></li>

                                        </ul>
                                    </td>
                                    <td class="col2" style="border-left: 1px solid #ccc; width: 200px; padding: 0 10px;">
                                        <h3><a href="/site/personal/banking/cd-ira-accounts/">CDs &amp; IRAs</a></h3>
                                        <ul class="nav">
                                            <li><a href="/site/personal/banking/cd-ira-accounts/cd-accounts.fhtml">CDs</a></li>
                                            <li><a href="/site/personal/banking/cd-ira-accounts/ira-accounts.fhtml">Traditional IRA</a></li>
                                            <li><a href="/site/personal/banking/cd-ira-accounts/roth-ira-accounts.fhtml">Roth IRA</a></li>
                                            <li><a href="/site/personal/banking/cd-ira-accounts/educational-savings-accounts.fhtml">Educational&nbsp;Savings&nbsp;Account</a></li>
                                        </ul>
                                        <h3><a href="/site/personal/banking/online-services/">Online Services</a></h3>
                                        <ul class="nav">
                                            <li><a href="/site/personal/banking/online-services/online-banking.fhtml">Online Banking</a></li>
                                            <li><a href="/site/personal/banking/online-services/billpay.fhtml">BillPay</a></li>
                                            <li><a href="/site/personal/banking/online-services/statements.fhtml">Paperless Statements</a></li>
                                            <li><a href="/site/personal/banking/online-services/alerts.fhtml">Account Alerts</a></li>
                                            <li><a href="/site/personal/banking/online-services/credit-card-payments.fhtml">Credit Card Payments</a></li>
                                            <li><a href="/site/personal/banking/online-services/activate-card.fhtml">Activate Credit Card</a></li>
                                        </ul>
                                    </td>
                                    <td class="col3" style="border-left: 1px solid #ccc; width: 200px; padding: 0 0 0 10px;">
                                        <h3><a href="/site/personal/banking/mobile-banking.fhtml">Mobile&nbsp;Banking</a></h3>
                                        <h3><a href="/site/personal/banking/foreign-currency.fhtml">Foreign&nbsp;Currency</a></h3>
                                        <h3><a href="/site/personal/banking/personal-rates.fhtml">Rates</a></h3>

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- background2 -->
                    </div>
                </li>

                <li class="category Lending">
                    <a href="https://www.firstnational.com/site/small-business/lending/">Lending</a>
                    <div class="submenu" style="display: none; top: 27px; left: 1px; height: auto;">
                        <div class="background2">
                            <img src="/Styles/config/img/branded/mm-triangle.png" alt="" title="" class="triangle" />
                            <!-- drop-down indicator -->


                            <h3><a href="/site/personal/lending/mortgage-loans.fhtml">Mortgage</a></h3>

                            <h3><a href="/site/personal/lending/home-equity-loans.fhtml">Home Equity</a></h3>

                            <h3><a href="/site/personal/lending/auto-loans.fhtml">Auto</a></h3>

                            <h3><a href="/site/personal/lending/personal-loans-lines-of-credit.fhtml">Personal</a></h3>

                            <h3><a href="/site/personal/lending/rates.fhtml">Rates</a></h3>

                        </div>
                        <!-- background2 -->
                    </div>
                </li>


                <%--        <li class="category CreditCard"> 
            <a href="/site/personal/credit-card/">Credit Cards</a>
          <div class="submenu" style="display: none;  top:27px; left: 1px; height:auto;">
            <div class="background2">
				<img src="/Styles/config/img/branded/mm-triangle.png" alt="" title="" class="triangle" /> <!-- drop-down indicator -->            
		<h3><a href="/site/personal/credit-card/amex/">American Express</a></h3>
			<ul class="nav">
				 <li><a href="/site/personal/credit-card/amex/amex-standard.fhtml">First National Bank American Express Card</a></li>
			</ul>
			
		<h3><a href="/site/personal/credit-card/visa/">Visa</a></h3>
              <ul class="nav">
          		<li><a href="/site/personal/credit-card/visa/visa-maxrewards.fhtml">Maximum Rewards Visa Card</a></li>
				<li><a href="/site/personal/credit-card/visa/visa-platinum.fhtml">Platinum Edition Visa Card</a></li>
				<li><a href="/site/personal/credit-card/visa/visa-secured.fhtml">Secured Visa Card</a></li>
			</ul>
			
			
		<h3><a href="/site/personal/credit-card/discover/">Discover</a></h3>
			<ul class="nav">
				<li><a href="/site/personal/credit-card/discover/discover-card.fhtml">First National Bank Discover Card</a></li>
			</ul>
			<h3><a href="/site/personal/credit-card/mastercard/">MasterCard</a></h3>
			<ul class="nav">
				<li><a href="/site/personal/credit-card/mastercard/mc-platinum.fhtml">Platinum Edition MasterCard Card</a></li>
			</ul>
			
		<h3><a href="/site/personal/credit-card/online-services/index.fhtml">Online Services</a></h3>
      		 <ul class="nav">
                      <li><a href="/site/personal/credit-card/online-services/online-banking.fhtml">Online Banking</a></li>
                      <li><a href="/site/personal/credit-card/online-services/statements.fhtml">Paperless Statements</a></li>
                      <li><a href="/site/personal/credit-card/online-services/alerts.fhtml">Account Alerts</a></li>
                      <li><a href="/site/personal/credit-card/online-services/credit-card-payments.fhtml">Credit Card Payments</a></li>
                      <li><a href="/site/personal/credit-card/online-services/activate-card.fhtml">Activate Credit Card</a></li>
                   </ul>      
                
		<h3><a href="/site/personal/credit-card/benefits/">Benefits</a></h3>
                    <ul class="nav">
                      <li><a href="/site/personal/credit-card/benefits/firstguard.fhtml">FirstGuard</a></li>
                      <li><a href="/site/personal/credit-card/benefits/design-your-card.fhtml">Design Your Card</a></li>
                      <li><a href="/site/personal/credit-card/benefits/fico-score.fhtml">FICO Score</a></li>
					  <li><a href="/site/personal/credit-card/benefits/chip-card.fhtml">Chip Card</a></li>
					  <!--<li><a href="/site/personal/credit-card/benefits/visa-checkout/index.fhtml">Visa Checkout</a></li> -->					  
                   </ul>

		<h3><a href="/RetailWeb/default/cardservices/application-status/show-form">View Credit Card Application Status</a></h3>
		<h3><a href="/common/udap/index.html" target="_blank">View Cardmember Agreements</a></h3>

            </div>
            <!-- background2 --> 
          </div>
        </li>--%>

                <li class="category WealthInvesting">
                    <a href="https://www.firstnational.com/site/small-business/wealth-investing/">Wealth &amp; Investing</a>
                    <div class="submenu" style="display: none; top: 27px; left: 1px; height: auto;">
                        <div class="background2">
                            <img src="/Styles/config/img/branded/mm-triangle.png" alt="" title="" class="triangle" />
                            <!-- drop-down indicator -->
                            <table border="0" cellpadding="0" cellspacing="0" class="layout">
                                <tr>
                                    <td class="col1" style="width: 200px; padding: 0 10px 0 0;">

                                        <h3><a href="/site/personal/wealth-investing/investments-planning.fhtml">Investments&nbsp;&amp&nbsp;Planning</a></h3>
                                        <h3><a href="/site/personal/wealth-investing/wealth-solutions.fhtml">Wealth&nbsp;Management</a></h3>
                                        <h3><a href="/site/personal/wealth-investing/tributary-funds.fhtml">Tributary&nbsp;Funds</a></h3>
                                        <h3><a href="/site/personal/wealth-investing/529-savings-plans.fhtml">529&nbsp;Savings&nbsp;Plans&nbsp;(NEST)</a></h3>
                                    </td>

                                    <td class="col2" style="border-left: 1px solid #ccc; width: 200px; padding: 0 10px;">
                                        <h3>Account Access</h3>
                                        <ul class="nav">
                                            <li><a href="https://clientpoint.fisglobal.com/tdcb/main/UserLogon?bankNumber=ng&subProduct=fnbtrust" target="_blank">Client&nbsp;Point</a></li>
                                            <li><a href="javascript:siteDisclosure('website', 'First National Bank', 'National Financial Services LLC', 'https://www.mystreetscape.com/my/investmentsandplanning', 'yes');">Investments&nbsp;&amp&nbsp;Planning</a><li>
                                            <li><a href="javascript:siteDisclosure('website', 'First National Bank', 'Ascensus, Inc.', 'https://www.retirementgold.com/fnbo/', 'yes');">Retirement Gold</a></li>
                                            <li><a href="javascript:siteDisclosure('website', 'First National Bank', 'Northern Lights Distributors, LLC', 'https://www3.financialtrans.com/tf/FANWeb?tx=Disclaim&cz=a05081718190514022018', 'yes');">Tributary&nbsp;Funds</a></li>
                                            <li><a href="javascript:siteDisclosure('website', 'First National Bank', 'Nebraska Educational Savings Plan Trust (NEST)', 'https://www.nest529direct.com/nedtpl/auth/loginFormAction.do?tplcb=%2Fnedtpl%2Facctmaint%2FacctList.do', 'yes');">NEST</a><li>
                                        </ul>
                                    </td>
                            </table>
                        </div>
                        <!-- background2 -->
                    </div>
                </li>


                <%--	 <li class="category ResourceCenter"> 
         <a href="https://www.firstnational.com/site/small-business/resource-center/">Resource Center</a>          
          <div class="submenu" style="display: none;  top:27px; left: 1px; height:auto;">			
            <div class="background2">
				<img src="/Styles/config/img/branded/mm-triangle.png" alt="" title="" class="triangle" /> <!-- drop-down indicator -->
          		<h3><a href="/site/personal/resource-center/smart-credit-management/index.fhtml">Smart&nbsp;Credit&nbsp;Management</a></h3>
				<h3><a href="/site/personal/resource-center/bank-green/index.fhtml">Bank Green</a></h3>
				<h3><a href="/site/personal/resource-center/scra.fhtml">SCRA</a></h3>
				<h3><a href="/site/personal/resource-center/newsletters/index.fhtml">Newsletters</a></h3>
                    <ul class="nav">
					<li><a href="/site/personal/resource-center/newsletters/first-focus/index.fhtml">First Focus</a></li>
                      <li><a href="/site/personal/resource-center/newsletters/estate-planning-updates.fhtml">Estate Planning Updates</a></li></ul>
				<h3><a href="/util/calculators/index.fhtml">Calculators</a></h3>      
            </div>
            <!-- background2 --> 
          </div>
        </li>--%>

                <li class="category FinanceLogically">
                    <a href="/Forms/Menu/Dashboard.aspx">FinanceLogically<span style="vertical-align: super; font-size: x-small;">&copy</span></a>
                    <div class="submenu" style="display: none; top: 27px; left: 1px; height: auto;">
                        <div class="background2">
                            <img src="/Styles/config/img/branded/mm-triangle.png" alt="" title="" class="triangle" />
                            <!-- drop-down indicator -->
                            <h3><a href="/Forms/Menu/Dashboard.aspx">Dashboard</a></h3>
                            <h3><a href="/Forms/Menu/Transactions.aspx">Transactions</a></h3>
                            <h3><a href="/Forms/Menu/Budgets.aspx">Budgeting</a></h3>
                            <ul class="nav">
                                <li><a>Bucket List Budgeting</a></li>
                                <li><a>Retirement Planning</a></li>
                            </ul>
                            <h3><a>How Do I Rank?</a></h3>z
                            <h3><a>Other Thing</a></h3>
                        </div>
                        <!-- background2 -->
                    </div>
                </li>
                <li class="category BudgetLogically">
                    <a href="/Forms/Menu/Budgets.aspx">BudgetLogically<span style="vertical-align: super; font-size: x-small;">&copy</span></a>
                    <div class="submenu" style="display: none; top: 27px; left: 1px; height: auto;">
                        <div class="background2">
                            <img src="/Styles/config/img/branded/mm-triangle.png" alt="" title="" class="triangle" />
                            <!-- drop-down indicator -->
                            <h3><a href="/Forms/Menu/Dashboard.aspx">Dashboard</a></h3>
                            <h3><a href="/Forms/Menu/Transactions.aspx">Transactions</a></h3>
                            <h3><a href="/Forms/Menu/Budgets.aspx">Budgeting</a></h3>
                            <ul class="nav">
                                <li><a>Bucket List Budgeting</a></li>
                                <li><a>Retirement Planning</a></li>
                            </ul>
                            <h3><a>How Do I Rank?</a></h3>
                        </div>
                        <!-- background2 -->
                    </div>
                </li>
            </ul>
        </div>

        <!-- category -->
    </div>

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <form runat="server">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server">
                    </asp:ContentPlaceHolder>
                </form>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="Div1" role="navigation">
                <div class="navbar-form navbar-right" id="divLogin" runat="server">
                    <form role="form">
                        <div class="form-group">
                            <input id="txtUserName" type="text" placeholder="Email" class="form-control" runat="server" />
                        </div>
                        <div class="form-group">
                            <input id="txtPassword" type="password" placeholder="Password" class="form-control" runat="server" />
                        </div>
                        <div style="margin-bottom:20px;">
                            <asp:label id="lblWelcome" CssClass="steps" text="" runat="server" />
                        </div>                        
                        <!-- No need for fancy, secure login control.  FNBO already has one. -->
                        <button id="btnSignIn" title="btnSignIn" type="submit" class="btn btn-success" runat="server">Sign In</button>
                        <button id="btnSignOut" title="btnSignOut" type="button" onclick="__doPostBack('btnSignOut','SignOut');" class="btn btn-success" runat="server">Sign Out</button>
                    </form>
                </div>
                <img src="\Styles\assets\site\img\personal\promo-huskersdebit.jpg" class="img-thumbnail" alt=""><br />
                <br />
                <br />
                <span class="" style="border:1px solid lightgray; background-color:#F8F8F8 ;-moz-border-radius: 7px; border-radius: 7px; padding: 10px 10px 10px 10px;">
                    <a style="color:#009900; font-size:smaller; font-weight:bolder; text-decoration:none;" href="https://www.firstnational.com/site/security-center/index.fhtml">Information Security Center</a></span>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/Scripts/site_scripts/bootstrap.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%--</form>--%>

    <script language="javascript" src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/s-code.js?v01" type="text/javascript"></script>
    <script language="javascript" src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/s-code-functions.js?v01" type="text/javascript"></script>
    <script language="javascript" type="text/javascript"><!--
    /* Copyright 1997-2004 Omniture, Inc. */
    scatalyst.pageName = "Personal:Homepage"
    scatalyst.channel = "Marketing"
    scatalyst.server = ""
    scatalyst.pageType = ""
    scatalyst.prop1 = "Personal"
    scatalyst.prop2 = ""
    scatalyst.prop4 = ""
    scatalyst.prop5 = ""
    scatalyst.prop6 = ""
    scatalyst.prop7 = ""
    scatalyst.prop9 = ""
    scatalyst.prop10 = "logged out"
    scatalyst.prop19 = ""
    scatalyst.prop23 = ""
    scatalyst.events = ""
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = scatalyst.t(); if (s_code) document.write(s_code)
    //--></script>
    <script language="javascript" src="/Styles/MarketingWeb/internet_tip/shared-content-library/config/js/s-code-function-calls.js?v01" type="text/javascript"></script>
</body>
</html>
