body {    
}
/* Essentials */
.content { display: table-row; height: 100%; }
.content-body { display: table-cell; }

/* Aestetics */
.header, .footer { padding: 10px 20px; background: #f7f7f7; }
.content-body { padding: 20px; background: #e7e7e7; }

.bottomPopupLeft {
    position: relative;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10px;
}

.bottomPopupRight {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

.minitron {
    padding: 0.5em 0.6em;
    h1;

    {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
        .btn;

    {
        padding: 0.5em;
    }

    }
}


.minitron {
    padding: 0.5em 0.6em;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: whitesmoke;
    /* Coloring */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003300', endColorstr='#006600'); /* for IE */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003300', endColorstr='#006600'); /* for IE 8 and above */
    background: -webkit-gradient(linear, left top, left bottom, from(#003300), to(#006600)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #003300, #006600); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #003300, #006600); /* for Opera */
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: 30px;
}

    .minitron h1 {
        font-size: 2em;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 15px;
    }

    .minitron p {
        font-size: 1.1em;
        color: #66FF00;
        margin-left: 15px;
        .btn;

{
    padding: 0.5em;
}

}

.container .minitron {
    border-radius: 6px;
}

@media screen and (min-width: 768px) {
    .minitron {
        padding-bottom: 5px;
    }

    .container .minitron {
        padding-right: 30px;
        padding-left: 30px;
    }

    .minitron h1 {
        font-size: 55px;
    }
}

.accdrButton {
    background-color:darkgreen;
}

.accdrHeader {
    font-size:x-large;
    font-weight:bold;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}

.visualize {
    background-color:darkgreen;
    padding: 8px 10px 8px 10px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color:whitesmoke;
    text-shadow: none;
    text-decoration: none;
    font-weight:normal;
    font-size:medium;
    vertical-align:text-bottom;
    float:right;
    margin-right:15px;
    margin-top:-2px;
}
.visualize:hover{
    background-color:#009900;
    color:black;
    text-decoration:none;
}

.white-caret
{
    border-top-color: whitesmoke !important;
    border-bottom-color: whitesmoke !important;
}
.white-caret:hover{
    border-top-color: black !important;
    border-bottom-color: black !important;    
}

/*.panel-default > .panel-heading {
    /* Coloring */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#A3A3A3'); /* for IE */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#A3A3A3'); /* for IE 8 and above */
   /*  background: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#A3A3A3)); /* for webkit browsers */
  /*   background: -moz-linear-gradient(top, #E8E8E8, #A3A3A3); /* for firefox 3.6+ */
  /*   background: -o-linear-gradient(top, #E8E8E8, #A3A3A3); /* for Opera */
 /*}*/

.fullHeader {
    
    /* Coloring */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#A3A3A3'); /* for IE */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#A3A3A3'); /* for IE 8 and above */
    background: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#A3A3A3)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #E8E8E8, #A3A3A3); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #E8E8E8, #A3A3A3); /* for Opera */

    margin-left:30px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 0.5em 0.6em;
    font-size:x-large;
    font-weight:bold;
    
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;

    /*color:#006600;
    text-shadow: 1px 1px 1px #003300;*/
}

.collapsibleDiv
{
    margin-left:30px;
}

.divPie {
    margin-left: 30px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 0.5em 0.6em;

    /* Coloring */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3A3A3', endColorstr='#E8E8E8'); /* for IE */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3A3A3', endColorstr='#E8E8E8'); /* for IE 8 and above */
    background: -webkit-gradient(linear, left top, left bottom, from(#A3A3A3), to(#E8E8E8)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #A3A3A3, #E8E8E8); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #A3A3A3, #E8E8E8); /* for Opera */
    height:175px;
}



.acctHeader {
    float:left;
    margin-left:30px;
    font-size:large;
    font-weight:bold;
    color:#216242;
    display:inline-block;
}

.divAccts {
    margin-left:65px;

}
.acctHeadings {
    font-weight:bolder;
    color:black;
    text-decoration:underline;
}

.acctBalance {
    float:right;
    font-family:'Arial';
    color:whitesmoke;
    font-size:medium;
    font-weight:bold;
    display:inline-block;
}

.acctDeb {
    float:right;
    font-family:'Arial';
    color:black;
    font-size:smaller;
    font-weight:bold;
    display:inline-block;
}

.acctBalanceBak {
    background-color:darkgreen; 
    border-radius: 5px; 
    margin-top:3px;
    padding: 5px 5px 5px 15px;
    display:inline-block;
    float:right;
    height:30px;
    margin-right:30px;
    width:105px;
}

.acctDebBak {
    background-color:lightgray; 
    border-radius: 5px; 
    margin-top:3px;
    padding: 5px 5px 5px 15px;
    display:inline-block;
    float:right;
    height:40px;
    margin-right:30px;
}

.balHeader {
    float:right;
    font-size:large;
    font-weight:bold;
    color:#216242;
    margin-right: 30px;
    width:105px;
    vertical-align:baseline;

}

.dateHeader {
    float:right;
    font-size:small;
    font-weight:bold;
    color:#216242;
    margin-right: 26px;
    width:70px;

}

.greenLink {
    color:green;
    font-size:small;
    text-decoration:underline;
}

.smallfont
{
    margin-left:6px;
    margin-top:3px;
    margin-bottom:3px;
    font-size:smaller;
    font-weight:normal;
    color:whitesmoke;
}

.categories {
    border-radius: 7px; 
    -moz-border-radius: 7px;
    margin-top:3px; 
    margin-bottom:3px; 
    background-color:darkgreen;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.cursor {
    cursor: default;
}

/*Budgeting*/

.panel-heading
{   
    color: whitesmoke;
    /* Coloring */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003300', endColorstr='#006600'); /* for IE */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003300', endColorstr='#006600'); /* for IE 8 and above */
    background: -webkit-gradient(linear, left top, left bottom, from(#003300), to(#006600)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #003300, #006600); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #003300, #006600); /* for Opera */
    height:40px;
}
.panel-heading:hover 
{
    /* Coloring */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E2EEE2', endColorstr='#70AA70'); /* for IE */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E2EEE2', endColorstr='#70AA70'); /* for IE 8 and above */
    background: -webkit-gradient(linear, left top, left bottom, from(#E2EEE2), to(#70AA70)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #E2EEE2, #70AA70); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #E2EEE2, #70AA70); /* for Opera */
}

.panel-headingAccrd
{   
    color: whitesmoke;
    /* Coloring */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003300', endColorstr='#006600'); /* for IE */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003300', endColorstr='#006600'); /* for IE 8 and above */
    background: -webkit-gradient(linear, left top, left bottom, from(#003300), to(#006600)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #003300, #006600); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #003300, #006600); /* for Opera */
    height:40px;
    cursor:default;
    padding: 6px 15px !important;
}

.accordion-toggle {
    font-size: x-large;
    font-stretch: expanded;
    text-shadow: 1px 1px 4px black;
    font-family: Aharoni;
}
.accordion-toggle:hover {
    text-decoration:none;
    text-shadow: 1px 1px 4px white;
}

.panel-heading .accordion-toggle:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #719A86;         /* adjust as needed */
    text-decoration:none;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    color: white;
}

.panel-title {
    color:#719A86;
    text-decoration:none;
    text-shadow: 1px 1px 4px black;
}

.panel-title:hover{
    text-shadow: 1px 1px 4px white;
}

.panel-heading {
    cursor: pointer;
    padding: 6px 15px !important;
}

.steps {
    font-size: larger; 
    font-weight:bolder; 
    color:darkgreen; 
    padding:5px 5px 5px 5px; 
    border: 2px solid darkgreen;
    -moz-border-radius: 7px; 
    border-radius: 7px;
}

.shortGuy{
    width:90px;
}
.longGuy{
    width:180px;
}



/*Transactions*/
.transEl {
    border: 1px solid slategrey; 
    padding: 10px 10px 10px 10px; 
    background-color:whitesmoke; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    margin-left:25px;
}


/*Site Master*/
media="screen, print"
#section2 .static-links li {
background-color: #EFEFEF;
background-image: url(/config/img/bg-gradient-nav.png);
background-position: 0 20px;
background-repeat: repeat-x;
border: 1px solid #ccc;
border-radius: 4px;
list-style-type: none;
vertical-align: middle;
width: 208px;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}


.minitron {
    padding: 0.5em 0.6em;
    h1;

    {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
        .btn;

    {
        padding: 0.5em;
    }

    }
}


.minitronHome {
    padding: 0.5em 0.6em;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: #1F6128;
    border: 1px solid #F8F8F8;
    border-spacing:20px;
    /* Coloring */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6BFAA', endColorstr='#CAE8CE'); /* for IE */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6BFAA', endColorstr='#CAE8CE'); /* for IE 8 and above */
    background: -webkit-gradient(linear, left top, left bottom, from(#A6BFAA), to(#CAE8CE)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #A6BFAA, #CAE8CE); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #A6BFAA, #CAE8CE); /* for Opera */
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: 30px;
}

    .minitronHome h1 {
        font-size: 2em;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 15px;
    }

    .minitronHome p {
        font-size: 1.1em;
        color: #257D31;
        margin-left: 15px;

        }

.container .minitronHome {
    border-radius: 6px;
}

@media screen and (min-width: 768px) {
    .minitronHome {
        padding-bottom: 5px;
    }

    .container .minitronHome {
        padding-right: 30px;
        padding-left: 30px;
    }

    .minitronHome h1 {
        font-size: 55px;
    }
}